/* Techover colors */
$dark-blue: #2b3844;
$darker-blue: #202c36;
$white: #f2f2f2;

.mainConatainer {
  background-color: $darker-blue;
  left: 0;
  top: 4.5rem;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;

  .wrapper {
    width: 76%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    margin-bottom: 3rem;

    .topWrapper {
      display: flex;
      justify-content: space-between;
    }

    .cardsWrapper {
      display: flex;
      margin-top: 3rem;
      gap: 1.7rem;
      flex-wrap: wrap;
    }
  }
}
