/* Techover colors */
$dark-blue: #2b3844;
$darker-blue: #202c36;
$white: #f2f2f2;

.mainConatainer {
  /*  background-color: $darker-blue; */
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(4.5rem);

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    margin-bottom: 3rem;

    .topWrapper {
      display: flex;
      justify-content: space-between;
    }

    .cardsWrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-top: 3rem;
      gap: 1.7rem;
    }
  }
}
