/* Screen Widths: Mobile: 375px. Desktop: 1440px */

/* 
Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
Weights: 300, 600, 800 
*/

$color-dark: rgb(43, 56, 68);
$font-color: rgba(22, 22, 22, 1);
$border-color: rgba(206, 206, 206, 1);

$bg-color-darkmode: rgba(62, 74, 85);
$font-color-darkmode: rgb(255, 255, 255);

$dark-blue: #2b3844;
$darker-blue: #202c36;
$white: #f2f2f2;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-color-darkmode;
  color: $white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;

  .navbarContainer {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-weight: 500;
      font-size: 1.4rem;
    }

    .logo {
      width: 38%;
      height: 38%;
      object-fit: contain;
    }

    .darkModeBtnContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 8.5rem;
      height: 2.5rem;
      padding: 0 0.4rem;
      border-radius: 0.3rem;
      cursor: pointer;
      transition: all 0.7s ease;
      button {
        cursor: pointer;
        background-color: transparent;
        color: $white;
        border: none;
        font-size: medium;
      }
    }

    .darkModeBtnContainer:hover {
      background-color: rgb(92, 101, 109);
    }
  }
}
