/* Techover colors */
$dark-blue: #2b3844;
$darker-blue: #202c36;
$white: #f2f2f2;

.loading {
  color: gray;
  position: absolute;
  top: 50%;
  left: 45%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.nationContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  .nation {
    background-color: $darker-blue;
    height: calc(100vh - 4.5rem);
    width: 80%;
    transform: translateY(4.5rem);
    display: flex;
    flex-direction: column;

    .top {
      width: 100%;
      height: 15%;
      display: flex;
      align-items: center;
      .backBtn {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: white;
        border-radius: 0.3rem;
        cursor: pointer;
        transition: all 0.7s ease;
        font-size: medium;
        .backIcon {
          color: white;
        }
      }
      .backBtn:hover {
        background-color: rgb(92, 101, 109);
      }
    }
    @media (max-width: 900px) {
      .top {
        height: 8%;
      }
    }
    .bottom {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: space-between;
      .imgContainer {
        height: 100%;
        width: 47%;
        display: flex;
        align-items: center;
        justify-content: center;

        .imgWrapper {
          height: 100%;
          width: 100%;
          display: flex;
          border-radius: 1rem;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 1rem;
          }
        }
      }
      @media (max-width: 900px) {
        .imgContainer {
          width: 100%;
        }
      }
      .detailsContainer {
        height: 100%;
        width: 47%;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: space-evenly;
        h1 {
          margin: 0;
          font-size: 3.5rem;
          font-weight: normal;
        }
        .details {
          display: flex;
          font-size: large;
          justify-content: space-between;
        }
        .borderCountries {
          width: 100%;
          height: 30%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .borderCountriesBtnsContainer {
            width: 20rem;
            height: fit-content;
            display: flex;
            gap: 0.5rem;
            overflow-x: scroll;
            .borderBtn {
              text-decoration: none;
              background-color: rgba(68, 78, 86);
              border: none;
              border-radius: 1rem;
              color: white;
              padding: 0.5rem 1rem;
              cursor: pointer;
              transition: all 0.7s ease;
            }
            .borderBtn:hover {
              background-color: rgb(93, 106, 117);
            }
          }
        }
      }
      @media (max-width: 900px) {
        .detailsContainer {
          width: 100%;
          margin-top: 2rem;
        }
      }
    }
  }
}
