/* Techover colors */
$dark-blue: #2b3844;
$darker-blue: #202c36;
$white: #f2f2f2;

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-color:#202c36;
  @media (max-width: 900px) {
    .navbar {
      overflow-x: hidden;
      .navbarContainer {
        width: 95%;
        .logo {
          display: none;
        }
      }
    }

    .mainConatainer {
      .topWrapper {
        flex-direction: column;
        gap: 1rem;

        .searchBar {
          width: 100%;
        }
        .selectRegionBar {
          width: 100%;
        }
      }
    }
    .nation {
      width: 100vw;
      .top {
        .backBtn {
          margin-left: 1rem;
        }
      }
      .bottom {
        flex-direction: column;
        .imgContainer {
          height: 70%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .imgWrapper {
            height: 100%;
            width: 90%;
            border-radius: 0.5rem;
            margin: 0;
            img {
              object-fit: cover;
            }
          }
        }
        .detailsContainer {
          margin-top: 4.5rem;
          padding-left: 2.5rem;
          height: 68%;
          width: 100vw;
          display: flex;
          flex-direction: column;
          color: white;
          background-color: #202c36;

          h1 {
            width: 100%;
            height: 20%;
            margin: 0;
            font-size: 3.5rem;
            font-weight: normal;
          }
          .details {
            width: 100%;
            height: 49%;
            display: flex;
            flex-direction: column;
            .detailsRight {
              height: 100%;
              width: 100%;
              :nth-child(4) {
                margin-bottom: 0;
              }
              p {
                margin: 0.7rem 0;
              }
            }
            .detailsLeft {
              height: 100%;
              width: 100%;
              p {
                margin: 0.7rem 0;
              }
            }
          }
          .borderCountries {
            margin-top: 3rem;
            width: 100%;
            height: 30%;
            display: flex;
            align-items: center;
            gap: 1rem;
            .borderCountriesBtnsContainer {
              width: fit-content;
              height: fit-content;
              display: flex;
              gap: 0.5rem;
              overflow-x: scroll;
              .borderBtn {
                text-decoration: none;
                background-color: rgba(68, 78, 86);
                border: none;
                border-radius: 1rem;
                color: white;
                padding: 0.5rem 1rem;
                cursor: pointer;
                transition: all 0.7s ease;
              }
            }
          }
        }
      }
    }
  }
}

/* Light mode */
.light-mode {
  background-color: white;
  color: black;

  /* Home */
  .mainConatainer {
    background-color: white;
  }

  /* Navbar */
  .navbar {
    background-color: white;
    color: black;

    .darkModeBtnContainer button {
      color: black !important;
    }

    .darkModeBtnContainer:hover {
      background-color: rgb(192, 202, 211) !important;
    }
  }

  /* Searchbar */
  .searchBar input {
    border: 1px solid gray;
    color: black;
  }
  .searchBar input::placeholder {
    color: gray;
  }
  .searchBar input:hover {
    border: 1px solid black;
  }

  /* SelectRegionBar */
  .selectRegionBar {
    border: 1px solid gray;
    p {
      color: gray;
    }
    .dropdownIcon {
      color: gray;
    }

    .dropdownMenu {
      background-color: white;
      color: black;
      box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);

      .menuItem:hover {
        background-color: rgb(197, 196, 196);
      }
    }
  }
  .selectRegionBar:hover {
    border: 1px solid black;
  }

  /* NationCard */
  .link {
    .nationCard {
      box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.2);
      background-color: white;

      .detailsContainer {
        :nth-child(1) {
          color: black;
        }
        p {
          color: gray;
        }
      }
    }
    .nationCard:hover {
      background-color: rgb(231, 231, 231);
    }
  }

  /* Nation */
  .nation {
    background-color: white;
    .top {
      .backBtn {
        color: black;
        .backIcon {
          color: black;
        }
      }
      .backBtn:hover {
        background-color: rgb(224, 224, 224);
      }
    }
    .bottom {
      .detailsContainer {
        color: black;
        background-color: white;

        .borderCountries {
          .borderCountriesBtnsContainer {
            .borderBtn {
              text-decoration: none;
              background-color: rgba(0, 0, 0, 0.08);
              border: none;
              border-radius: 1rem;
              color: rgba(0, 0, 0, 0.9);
              padding: 0.5rem 1rem;
              cursor: pointer;
              transition: all 0.7s ease;
            }
            .borderBtn:hover {
              background-color: rgba(0, 0, 0, 0.25);
            }
          }
        }
      }
    }
  }
}
